# SUISUN BAY A VAN SICKLE ISLAND NR PITTSBURG CA

The following stationNZ codes are goign to be used:
- NZ048
- NZ054
- NZ060
- NZ074

In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
NZlist = ['NZ048','NZ054','NZ060','NZ074']

In [3]:
df = pd.read_excel('usgs/11455508.xlsx')
zoo_df = pd.read_excel('zooplankton/zoo_df.xlsx')

In [4]:
df.drop(labels = 0, inplace = True)

In [5]:
zoo_df = zoo_df.loc[zoo_df.StationNZ.isin(NZlist)]

In [6]:
zoo_df

,Unnamed: 0,SampleDate,StationNZ,Region,TotalLimno,ALLCYCADULTS,ALLCYCJUV,ALLCOPNAUP,ALLROTIFERS
4,20226,2010-01-07,NZ074,SJR,747,747,320,6618,961
8,20230,2010-01-08,NZ060,WestDel,1841,1841,520,8526,1241
9,20231,2010-01-08,NZ048,SuiBay,1274,1274,2071,7646,2867
10,20232,2010-01-08,NZ054,SuiBay,7792,7792,2348,12168,2028
19,20241,2010-02-04,NZ074,SJR,0,160,320,12968,21134
...,...,...,...,...,...,...,...,...,...
2211,22433,2019-11-06,NZ060,WestDel,37464,37464,9926,152579,320
2218,22440,2019-12-03,NZ074,SJR,16544,16544,4056,79839,534
2221,22443,2019-12-05,NZ060,WestDel,26044,26044,6404,90406,427
2224,22446,2019-12-06,NZ054,SuiBay,33515,33515,5977,96916,320
2225,22447,2019-12-06,NZ048,SuiBay,29246,29246,6938,78985,213

In [7]:
zoo_df.SampleDate

4      2010-01-07
8      2010-01-08
9      2010-01-08
10     2010-01-08
19     2010-02-04
          ...
2211   2019-11-06
2218   2019-12-03
2221   2019-12-05
2224   2019-12-06
2225   2019-12-06
Name: SampleDate, Length: 473, dtype: datetime64[ns]

In [8]:
df.datetime

1         2017-10-08 00:00:00
2         2017-10-08 00:15:00
3         2017-10-08 00:30:00
4         2017-10-08 00:45:00
5         2017-10-08 01:00:00
                 ...
104899    2020-10-07 18:45:00
104900    2020-10-07 19:00:00
104901    2020-10-07 19:15:00
104902    2020-10-07 19:30:00
104903    2020-10-07 19:45:00
Name: datetime, Length: 104903, dtype: object

In [9]:
zoo_df.SampleDate = pd.to_datetime(zoo_df.SampleDate)
df.datetime = pd.to_datetime(df.datetime)

In [10]:
from gauss import gauss_dist
dist = gauss_dist(11)
dist

[0.008812229292562286,
 0.02714357714347937,
 0.06511405659938267,
 0.12164907301380959,
 0.17699835683135567,
 0.20056541423882082,
 0.17699835683135567,
 0.12164907301380959,
 0.06511405659938267,
 0.02714357714347937,
 0.008812229292562286]

In [11]:
df.columns

Index(['site_no', 'datetime', '164313_00010', '164314_00095', '164316_00300',
       '164318_63680', '164324_99133', '236039_00400', '248807_32316',
       '248810_32295', '257809_00480', '260065_00301'],
      dtype='object')

In [12]:
df.drop(columns = ['site_no'], inplace = True)

In [13]:
df.columns = ['datetime', 'temp_c', 'specific_conductance', 'dissolved_o2_mg_l',
            'turbidity', 'nitrate_nitrite', 'ph', 'fChl',
              'organic_matter', 'salinity', 'dissolved_o2_percent_sat']

In [14]:
df['11_day_temp_c'] = np.nan
df['11_day_specific_conductance'] = np.nan
df['11_day_ph'] = np.nan
df['11_day_dissolved_o2_mg_l'] = np.nan
df['11_day_turbidity'] = np.nan
df['11_day_nitrate_nitrite'] = np.nan
df['11_day_organic_matter'] = np.nan
df['11_day_salinity'] = np.nan
df['11_day_dissolved_o2_percent_sat'] = np.nan

In [15]:
df.tail()

,datetime,temp_c,specific_conductance,dissolved_o2_mg_l,turbidity,nitrate_nitrite,ph,fChl,organic_matter,salinity,dissolved_o2_percent_sat,11_day_temp_c,11_day_specific_conductance,11_day_ph,11_day_dissolved_o2_mg_l,11_day_turbidity,11_day_nitrate_nitrite,11_day_organic_matter,11_day_salinity,11_day_dissolved_o2_percent_sat
104899,2020-10-07 18:45:00,20.6,16600,8.2,12.8,0.54,7.8,1.9,23.9,9.8,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104900,2020-10-07 19:00:00,20.6,16500,8.2,11.9,0.54,7.8,1.9,24,9.7,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104901,2020-10-07 19:15:00,20.5,16400,8.2,10.3,0.54,7.8,1.9,24,9.6,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104902,2020-10-07 19:30:00,20.5,16400,8.2,9.7,0.54,7.9,1.9,24.1,9.6,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104903,2020-10-07 19:45:00,20.6,16400,8.2,8.3,0.54,7.8,2,23.6,9.6,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df = df.loc[df.datetime >= (zoo_df.SampleDate.min() - datetime.timedelta(days = 12))]
df = df.loc[df.datetime < datetime.datetime(2020,1,1)]

# for i in range(11,len(df)):
#     df['11_day_temp_c'][i] = sum(np.multiply(dist,list(df.temp_c[i-11:i])))
#     df['11_day_specific_conductance'][i] = sum(np.multiply(dist,list(df.specific_conductance[i-11:i])))
#     df['11_day_ph'][i] = sum(np.multiply(dist,list(df.ph[i-11:i])))
#     df['11_day_dissolved_o2_mg_l'][i] = sum(np.multiply(dist,list(df.dissolved_o2_mg_l[i-11:i])))
#     df['11_day_turbidity'][i] = sum(np.multiply(dist,list(df.turbidity[i-11:i])))
#     df['11_day_nitrate_nitrite'][i] = sum(np.multiply(dist,list(df.nitrate_nitrite[i-11:i])))
#     df['11_day_organic_matter'][i] = sum(np.multiply(dist,list(df.organic_matter[i-11:i])))
#     df['11_day_salinity'][i] = sum(np.multiply(dist,list(df.salinity[i-11:i])))
#     df['11_day_dissolved_o2_percent_sat'][i] = sum(np.multiply(dist,list(df.dissolved_o2_percent_sat[i-11:i])))

for i in range(11,len(df)):
    df.loc[i,'11_day_temp_c'] = sum(np.multiply(dist,list(df.temp_c[i-11:i])))
    df.loc[i,'11_day_specific_conductance'] = sum(np.multiply(dist,list(df.specific_conductance[i-11:i])))
    df.loc[i,'11_day_ph'] = sum(np.multiply(dist,list(df.ph[i-11:i])))
    df.loc[i,'11_day_dissolved_o2_mg_l'] = sum(np.multiply(dist,list(df.dissolved_o2_mg_l[i-11:i])))
    df.loc[i,'11_day_turbidity'] = sum(np.multiply(dist,list(df.turbidity[i-11:i])))
    df.loc[i,'11_day_nitrate_nitrite'] = sum(np.multiply(dist,list(df.nitrate_nitrite[i-11:i])))
    df.loc[i,'11_day_organic_matter'] = sum(np.multiply(dist,list(df.organic_matter[i-11:i])))
    df.loc[i,'11_day_salinity'] = sum(np.multiply(dist,list(df.salinity[i-11:i])))
    df.loc[i,'11_day_dissolved_o2_percent_sat'] = sum(np.multiply(dist,list(df.dissolved_o2_percent_sat[i-11:i])))

df = df[11:]

In [17]:
df

,datetime,temp_c,specific_conductance,dissolved_o2_mg_l,turbidity,nitrate_nitrite,ph,fChl,organic_matter,salinity,dissolved_o2_percent_sat,11_day_temp_c,11_day_specific_conductance,11_day_ph,11_day_dissolved_o2_mg_l,11_day_turbidity,11_day_nitrate_nitrite,11_day_organic_matter,11_day_salinity,11_day_dissolved_o2_percent_sat
12,2017-10-08 02:45:00,18.6,1940,8.5,40.2,0.3,7.5,2.3,7.2,1,92,18.432379,1033.955090,7.500000,8.577728,15.559300,0.274445,7.185642,0.509930,91.456252
13,2017-10-08 03:00:00,18.6,2230,8.5,29.7,0.3,7.6,2.2,7.7,1.1,92,18.462244,1174.590139,7.500881,8.560028,17.583255,0.279437,7.293590,0.575851,91.543748
14,2017-10-08 03:15:00,18.7,2720,8.5,30.5,0.32,7.6,2.1,8.1,1.4,92,18.500881,1346.473941,7.503596,8.539972,20.722002,0.284603,7.370096,0.658675,91.627426
15,2017-10-08 03:30:00,18.6,3120,8.5,34,0.32,7.6,2,7.6,1.6,92,18.540471,1545.941220,7.510107,8.522272,24.587154,0.289620,7.409737,0.759032,91.707177
16,2017-10-08 03:45:00,18.6,3110,8.5,33,0.32,7.6,2.1,7.8,1.6,92,18.574133,1774.309805,7.522272,8.510107,28.285689,0.294648,7.442997,0.878661,91.787046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78091,2019-12-31 22:45:00,9.8,2620,9.9,24.3,0.84,7.6,0.6,40.3,1.3,88,9.933460,3624.582894,7.600000,9.900000,11.524654,0.848989,42.209360,1.900066,88.600283
78092,2019-12-31 23:00:00,9.9,2500,9.9,21.9,0.84,7.6,0.6,40.7,1.3,88,9.907393,3444.896329,7.600000,9.900000,12.558915,0.847773,41.984046,1.804757,88.399717
78093,2019-12-31 23:15:00,9.8,2200,9.9,20.3,0.84,7.6,0.7,40.6,1.1,88,9.885015,3211.742103,7.600000,9.900000,14.257992,0.846003,41.660714,1.676535,88.222719
78094,2019-12-31 23:30:00,9.8,2090,9.9,18.2,0.84,7.6,0.6,40.7,1,88,9.867779,2983.336469,7.600000,9.900000,16.454175,0.843997,41.298412,1.547008,88.101070
78095,2019-12-31 23:45:00,9.8,1980,9.9,17.5,0.84,7.6,0.6,40.8,1,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
zoo_df = zoo_df.merge(df, how='left', left_on='SampleDate', right_on='datetime')
zoo_df

,Unnamed: 0,SampleDate,StationNZ,Region,TotalLimno,ALLCYCADULTS,ALLCYCJUV,ALLCOPNAUP,ALLROTIFERS,datetime,...,dissolved_o2_percent_sat,11_day_temp_c,11_day_specific_conductance,11_day_ph,11_day_dissolved_o2_mg_l,11_day_turbidity,11_day_nitrate_nitrite,11_day_organic_matter,11_day_salinity,11_day_dissolved_o2_percent_sat
0,20226,2010-01-07,NZ074,SJR,747,747,320,6618,961,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20230,2010-01-08,NZ060,WestDel,1841,1841,520,8526,1241,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20231,2010-01-08,NZ048,SuiBay,1274,1274,2071,7646,2867,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20232,2010-01-08,NZ054,SuiBay,7792,7792,2348,12168,2028,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20241,2010-02-04,NZ074,SJR,0,160,320,12968,21134,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,22433,2019-11-06,NZ060,WestDel,37464,37464,9926,152579,320,2019-11-06,...,89,14.870135,5605.551491,7.5,8.781324,9.317203,0.555573,21.905383,3.024795,88.813237
469,22440,2019-12-03,NZ074,SJR,16544,16544,4056,79839,534,2019-12-03,...,93,11.297286,10008.529080,7.6,9.838032,13.425932,0.684920,26.174861,5.627341,93.008812
470,22443,2019-12-05,NZ060,WestDel,26044,26044,6404,90406,427,2019-12-05,...,92,11.296404,8496.646854,7.5,9.698919,8.132004,0.682421,26.777048,4.701019,91.436626
471,22446,2019-12-06,NZ054,SuiBay,33515,33515,5977,96916,320,2019-12-06,...,91,11.233460,7742.672063,7.5,9.635698,10.771283,0.678230,27.356940,4.261027,90.514589
472,22447,2019-12-06,NZ048,SuiBay,29246,29246,6938,78985,213,2019-12-06,...,91,11.233460,7742.672063,7.5,9.635698,10.771283,0.678230,27.356940,4.261027,90.514589

In [19]:
zoo_df = zoo_df.loc[zoo_df.SampleDate >= datetime.datetime(2017,10,10)]

In [20]:
len(zoo_df)

104

In [21]:
zoo_df.columns

Index(['Unnamed: 0', 'SampleDate', 'StationNZ', 'Region', 'TotalLimno',
       'ALLCYCADULTS', 'ALLCYCJUV', 'ALLCOPNAUP', 'ALLROTIFERS', 'datetime',
       'temp_c', 'specific_conductance', 'dissolved_o2_mg_l', 'turbidity',
       'nitrate_nitrite', 'ph', 'fChl', 'organic_matter', 'salinity',
       'dissolved_o2_percent_sat', '11_day_temp_c',
       '11_day_specific_conductance', '11_day_ph', '11_day_dissolved_o2_mg_l',
       '11_day_turbidity', '11_day_nitrate_nitrite', '11_day_organic_matter',
       '11_day_salinity', '11_day_dissolved_o2_percent_sat'],
      dtype='object')

In [22]:
zoo_df.drop(columns=['Unnamed: 0', 'SampleDate', 'StationNZ', 'Region', 'datetime'], inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [23]:
zoo_df

,TotalLimno,ALLCYCADULTS,ALLCYCJUV,ALLCOPNAUP,ALLROTIFERS,temp_c,specific_conductance,dissolved_o2_mg_l,turbidity,nitrate_nitrite,...,dissolved_o2_percent_sat,11_day_temp_c,11_day_specific_conductance,11_day_ph,11_day_dissolved_o2_mg_l,11_day_turbidity,11_day_nitrate_nitrite,11_day_organic_matter,11_day_salinity,11_day_dissolved_o2_percent_sat
369,7792,7792,3202,91686,3736,17.8,1590,8.8,40.6,0.3,...,93,17.912165,2492.397662,7.660028,8.800000,46.040043,0.313997,6.524374,1.272551,93.576716
370,45530,45530,33388,319175,25216,17.7,3360,8.7,40.5,0.33,...,92,17.789074,5210.122369,7.672193,8.672193,18.955548,0.363468,9.349926,2.770032,92.757888
371,63375,63375,33355,366016,15121,17.7,3360,8.7,40.5,0.33,...,92,17.789074,5210.122369,7.672193,8.672193,18.955548,0.363468,9.349926,2.770032,92.757888
372,1174,1174,747,23909,2455,15.3,6880,8.9,11.4,0.49,...,91,15.283539,6624.975496,7.600000,8.940471,12.227507,0.488836,9.363263,3.601334,90.926074
373,42054,42054,22628,197675,0,15.3,5140,8.9,22,0.48,...,90,15.379561,3206.873050,7.542328,8.900000,14.578831,0.460088,8.872018,1.659615,89.898930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,37464,37464,9926,152579,320,14.9,6230,8.8,10,0.56,...,89,14.870135,5605.551491,7.500000,8.781324,9.317203,0.555573,21.905383,3.024795,88.813237
469,16544,16544,4056,79839,534,11.2,6790,10,18.7,0.69,...,93,11.297286,10008.529080,7.600000,9.838032,13.425932,0.684920,26.174861,5.627341,93.008812
470,26044,26044,6404,90406,427,11.2,7450,9.8,7.6,0.68,...,92,11.296404,8496.646854,7.500000,9.698919,8.132004,0.682421,26.777048,4.701019,91.436626
471,33515,33515,5977,96916,320,11.3,9460,9.6,10.1,0.68,...,91,11.233460,7742.672063,7.500000,9.635698,10.771283,0.678230,27.356940,4.261027,90.514589
472,29246,29246,6938,78985,213,11.3,9460,9.6,10.1,0.68,...,91,11.233460,7742.672063,7.500000,9.635698,10.771283,0.678230,27.356940,4.261027,90.514589

In [24]:
zoo_df.to_excel('merged/11455508.xlsx')